* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    color: #e5e5dc;
    background-color: #000000;
}

html, body {
    height: 100%;
    width: 100%;
}

.loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    top:0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 4vw;
    color:transparent;
    background: linear-gradient(to right, orange,orangered);
    background-clip: border-box;
    -webkit-background-clip: text;
    position: absolute; 
    opacity: 0;
    /* all three h4 stacked upon eachother */
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

.loader h4:nth-child(2){
    animation-delay: 2s;
}
.loader h4:nth-child(3){
    animation-delay: 3s;
}


@keyframes load{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* For making text bigger in mobile screen use media query */

.homepage{
    width: 100%;
    height: 100%;

}

.navbar{
    width: 100%;
    height: 12vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7vw;
}

.navbar h1{
    font-size: 2.1vw;
    transition: all 0.15s ease-in;
}

.navbar h1:hover{
    cursor: pointer;
    color: #ff0016;
}

.rightnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    padding-right: 6.5vw;
    font-size: 1vw;

}

.rightnav .rightnav-link{
    padding: 0.3vw 0vw;
    position: relative;
    text-decoration: none;
} 

.rightnav .rightnav-link:hover{
    color: #ff0016;
}
    
.rightnav .rightnav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff0016;
    visibility: hidden;
    /* transform: translateX(-100%); */
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.rightnav .rightnav-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}




.container{
    height: calc(100% - 10vh);
    width: 100%;
    display: flex;
}

.info{
    width: 50%;
    height: 100%;
    color:#969696;
    font-weight:400;
    padding: 25vh 15vh;
}

.info h1{
    text-transform: uppercase;
    font-size: 4.5vw;
    padding-bottom: 1vh;
    transition: 0.15s ease-in;

}

.info h1:hover{
    cursor: pointer;
    color: #ff0016;
}

.info h5{
    padding-top: 2vh;
    padding-bottom: 2vh;
    color:#969696;
    font-weight:400;
    font-size: 1vw;
    line-height: 3vh;
    font-weight: 400;
}

.info h5 .fsd {
    color: #ff0016;
    font-weight: 400;
}

.info h6{
    font-size: 0.8vw;
    font-weight: 400;
}

.socials-btn, .projects-btn{
    padding: 1.1vh 2vh;
    border: 2px solid #ff0016;
    font-weight: 500;
    font-size: 1vw;
    color: #ff0016;
    border-radius: 3px;
    background-image: none;  
    cursor: pointer;
    z-index: 1;
    transition: 0.15s ease-in;
}

.socials-btn:hover, .projects-btn:hover{
    background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
    color: white;
}



.useless{
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.socials-btn i, .projects-btn i {
    color: inherit
}

.socials-btn:hover .ri-arrow-right-up-line, .projects-btn:hover .ri-arrow-right-line {
    z-index: 1;
    background-color: transparent;
    color: inherit;
}

.clipart{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clipart img{
    height: 37vw;
    width: 34vw;
    object-fit: cover;
    
}


.projects{
    width: 100%;
    height:135%;
    background-color:#000000;
    display: flex;
    flex-direction:column;
    align-items: center;
    row-gap: 3vh;

}
.projects h1, .skills h1{
    text-transform: uppercase;
    padding-top: 12vh;
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 10vh;
}

.project {
    height: 100%;
    width: 70%;
    padding: 15px;
    margin-bottom: 1.2vw;
    border-radius: 12px;
    display: flex;
    line-height: 2vw;
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: all 0.15s ease-in;
}

.project:hover {
    border-image: linear-gradient(to right, transparent, white, transparent);
    /* border-image: linear-gradient(to right, white, transparent, white); */
    border-image-slice: 1; /* Slice the border image into equal parts */
}

.project a{
    text-decoration: none;
}



.left h4{
    margin-bottom: 2vh;
    font-size: 1.2vw;
    color: #ff0016;
}

.left h2 {
   font-weight: 400;
   font-size: 1.2vw;
}

.github{
    font-size: 1.2vw;
    margin-top: 3vh;
    margin-right: 2vh;
    color: #ff0016;
    cursor: pointer;
    display: inline-block;
    color: #969696;
    font-weight:400;

}

.ri-github-fill{
    padding-right: 0.5vw;
    color: #969696;
    font-weight:400;
}

.right img{
    object-fit: cover;
    height: 10vw;
    margin-left: 2vw;
    border-radius: 8px;
    width: 20vw;
}





.skills{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

}


.skill-container{
    width: 80%;
    height: 40%;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.skill{
    width: 5vw;
    object-fit: cover;
    align-items: center;
    text-align: center;
}

.skill img{
    width: 80%;

}

.skill h5{
    margin-top: 10px;
}

/* loader is still incomplete (responsive-ness) watch that shreyians course video */








.footer{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.typewriter{

    object-fit: cover;
}

.typewriter img{
    position: absolute;
    width: 50vw;
    object-fit: cover;
    top: 10%;
    left: -10%;
    opacity: 70%;

}

.footer .text-container{
    mix-blend-mode:lighten;
    text-align: center;
    width: 110vh;
    position: absolute;
    z-index: 2;
    line-height: 2vw;
}

.footer h5{
    text-transform: uppercase;
    color: #ff0016;
    letter-spacing: 0.1vw;
    padding-bottom: 3vh;
}

.footer h1{
    font-size: 3vw;
}

.footer h3{
    padding-top: 5.5vh;
    font-weight: 100;
    color: #969696;
    font-weight:400;
}


.by-me{
    color: #969696;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 0.2vh;
    position: absolute;
    top: 100%;
    left: 10%;
}




/* fd5e31 */



/* Chainging ScrollBar */
/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
width: 8px; /* Set the width of the scrollbar */

}

::-webkit-scrollbar-thumb {
background-color: #ff0016; /* Set the color of the scrollbar thumb */
border-radius: 6px;
}













const events15 = [
    { time: '12:00 PM - 03:00 PM', eventName: 'Aaroh' },
    { time: '03:00 PM - 06:00 PM', eventName: 'Reverb' },
    { time: '12:00 PM - 05:00 PM', eventName: 'Page to Picture' },
    { time: '12:00 PM - 02:00 PM', eventName: 'Mandala Art' },
    { time: '02:00 PM - 04:00 PM', eventName: 'Doodling' },
    { time: '04:00 PM - 06:00 PM', eventName: 'Sketching' },
    { time: '12:00 PM - 06:00 PM', eventName: 'FIFA' },
    { time: '12:00 PM - 03:00 PM', eventName: 'Improv Leela' },
    { time: '02:00 PM - 04:00 PM', eventName: 'Reel it in' },
    { time: '02:00 PM - 04:00 PM', eventName: 'Stellar Vision' },
    { time: '12:00 PM - 02:30 PM', eventName: 'Nrityakala' },
    { time: '02:30 PM - 05:00 PM', eventName: 'Band Sound Check' },
    { time: '05:00 PM - 08:00 PM', eventName: 'Faculty Award Night' },
    { time: '09:00 PM - 10:00 PM', eventName: 'Prom Night' },
    { time: '10:00 PM - 12:00 AM', eventName: 'Band Night' },
    { time: '12:00 PM - 02:30 PM', eventName: 'Mridang' },
    { time: '02:30 PM - 05:00 PM', eventName: 'Chandrakala' },
    { time: '05:00 PM - 06:30 PM', eventName: 'Beat Brawl' },
    { time: '06:30 PM - 08:00 PM', eventName: 'Bars Mayhem' },
  ];

  const events16 = [
    { time: '9 AM - 12 AM', eventName: 'Abhinay' },
    { time: '9 AM - 12 AM', eventName: 'Stage Play (Day 2 + Day3)' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM'  , eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
  ];

  const events17 = [
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
    { time: '9 AM - 12 AM', eventName: 'Aaroh' },
  ];