* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
    color: #e5e5dc;
    background-color: #000000;
    font-family: Montserrat;
}

html, body {
    height: 100%;
    width: 100%;
}

.homepage{
    width: 100%;
    height: 100%;

}

.navbar{
    width: 100%;
    height: 12vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7vw;
}

.navbar h1{
    font-size: 2.1vw;
}

.navbar h1:hover{
    color: #fa6004;
}
.rightnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    padding-right: 6.5vw;
    font-size: 1vw;

}

.rightnav div{
    padding: 0.3vw 0vw;
    position: relative;
    text-decoration: none;
} 

.rightnav div:hover{
    color: #fa6004;
}
    
.rightnav div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fa6004;
    visibility: hidden;
    transform: translateX(-100%);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.rightnav div:hover::after {
    visibility: visible;
    transform: scaleX(1);
}
        


.container{
    height: calc(100% - 10vh);
    width: 100%;
    display: flex;
}

.info{
    width: 50%;
    height: 100%;
    color:#969696;
    padding: 25vh 15vh;
}

.info h1{
    text-transform: uppercase;
    font-size: 4.5vw;
    padding-bottom: 1vh;

}

.info h1:hover{
    color: #fa6004;
}

.info h5{
    padding-top: 2vh;
    padding-bottom: 2vh;
    color:#969696;
    font-size: 1vw;
    line-height: 3vh;
    font-weight: 400;
}

.info h5 span {
    color: #ff0016;
}

.info h6{
    font-size: 0.9vw;
    font-weight: 500;
}

.socials-btn, .projects-btn{
    padding: 1.1vh 2vh;
    background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
    color: white;
    font-weight: 500;
    font-size: 1vw;
    border-radius: 3px;
    border: 2px solid black;
    
}

.socials-btn:hover, .projects-btn:hover{
    color: #ff0016;
    border-color: #ff0016;
    background-image: none;
}

.projects-btn{

    cursor: pointer;
}

.useless{
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ri-arrow-right-line, .ri-arrow-right-up-line{
    color: white;
    background-color: #fa6004;
}

.clipart{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clipart img{
    height: 37vw;
    width: 34vw;
    object-fit: cover;
    
}